body {
  font-family: 'Comic Neue', cursive;
  background-color: #a39bd2;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f1f5f8;
  border-radius: 8px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.76);
}

h1 {
  text-align: center;
  color: #333333;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.input-container input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #069ab49a;
  border-radius: 4px 0 0 4px;
}

.input-container button {
  padding: 10px;
  border: none;
  background-color: rgba(165, 90, 235, 0.7);
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input-container button:hover {
  background-color: #63ce68f8;
}

.input-container button img {
  width: 20px;
  height: 20px;
  color: #ffffff;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #dddddd;
  display: flex;
  align-items: center;
}

li:last-child {
  border-bottom: none;
}

.delete-btn, .edit-btn {
  margin-left: auto;
  cursor: pointer;
  background-color: rgba(88, 57, 117, 0.7);
  color: #ffffff;
  border: none;
  padding: 5px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.delete-btn:hover, .edit-btn:hover {
  background-color: #e64877;
}

/* Media Query for Small Screens */
@media screen and (max-width: 768px) {
  .input-container {
      flex-direction: column; /* Stack input and button vertically on small screens */
  }

  .input-container input[type="text"] {
      width: 100%; /* Full width on small screens */
  }

  .input-container button {
      width: 90%; /* Full width on small screens */
      margin-top: 10px; /* Add some space between input and button */
  }

  li {
      padding: 15px; /* Increase padding for touch interactions */
  }
}
